%{

def caller = _caller
while (caller._caller) caller = caller._caller
def sm = caller.gsSM

( _arg ) &&  ( _import = _arg);
def a = _import
if (!a) a = _require

if (!(a || _load || _loadMissing)) throw new RuntimeException("either load or import statement needed");

if (a) sm.addJsMissings(a);

if (_load) {
	def missings = play.modules.greenscript.utils.DependencyManager.JS_DEP_MGR.comprehend(_load)
	sm.addJsMissings(missings)
}

if (!_charset) _charset='utf-8'

}%

#{if (sm.minimize())}
	%{
		def fn = "";
		if (_load) {
			sm.addJsLoaded(_load)
			fn = play.modules.greenscript.utils.Minimizor.minimizeJs(_load)
		}
	%}
    #{if (!fn.isEmpty())}
        <script type="text/javascript" src="${sm.gsDir()}/${fn}" #{if _id} id="${_id}"#{/if} charset="${_charset}"></script>
    #{/if}
    %{sm.clearLoaded()}%

    #{if _loadMissing != null}
        %{fn = play.modules.greenscript.utils.Minimizor.minimizeJs(sm.getJsMissings());}%
        #{if (!fn.isEmpty())}
            <script type="text/javascript" src="${sm.gsDir()}/${fn}" #{if _id} id="${_id}"#{/if} charset="${_charset}"></script>
        #{/if}
    #{/if}
#{/if}
#{else}
    #{list items:sm.asList(_load), as:'name'}
        #{if (sm.addJsLoaded(name))}
            <script type="text/javascript" src="${sm.jsDir()}/${name}.js" #{if _id} id="${_id}"#{/if} charset="${_charset}"></script>
        #{/if}
    #{/list}
    %{sm.clearLoaded()}%
    #{if _loadMissing != null}
        #{list items:sm.getJsMissings(), as:'name'}
            <script type="text/javascript" src="${sm.jsDir()}/${name}.js" #{if _id} id="${_id}"#{/if} charset="${_charset}"></script>
        #{/list}
    #{/if}
#{/else}

