<!DOCTYPE html>
%{
docTitle = get('title') ?: 'GreenScript Demo Application'
}%
<html>
    <head>
        <title>${docTitle}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        #{greenscript.css import:'layout color http://google.com/y.css', output:true/}
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        #{greenscript.js loadMissing:true /}
    </head>
    <body>
        <div id="header">
            <h1>${docTitle}</h1>
        </div>
        
        #{if flash.success}
            <div class="success">
                ${flash.success}
            </div>
        #{/if}
        #{if flash.error || error}
            <div class="error">
                ${error ?: flash.error}
            </div>
        #{/if}
        
        <div id="content">
            #{doLayout /}
        </div>
       
        <div id="footer">
            greenlaw110@gmail.com
            <br/><a href="/gs/conf" target='_blank'> >> Config GreenScript</a>
            <br/><a href="@{singlePage()}" target='_blank'> >> Go to Single Page Template Demo</a>
        </div>
        
    </body>
</html>
